@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.e-commerce {
    background: url('../Resources/Images/e-commerce-mvc.jpg') no-repeat ;
    background-size: cover;
    height: 85vh;
    top:50px;
    position: relative;
}