
@{
    ViewData["Title"] = "Home";
}

<div class="text-center e-commerce">

    <h2 class="display-4" style="color:rgb(17, 60, 29);">
        Welcome to Happy Valley Online Grocery
    </h2>
     
</div>

