@{
    ViewData["Title"] = "Home";
}

<div class="text-center e-commerce">

    <h2 class="display-4" style="color:rgb(17, 60, 29);">
        Welcome to Happy Valley Online Grocery
    </h2>
     
</div>

@if ((User?.Identity?.IsAuthenticated) ?? false)
{
    <partial name="_ChatWindow" />    
}
else
{
    <script>
        localStorage.removeItem('cart');
        sessionStorage.clear();
    </script>
}

